{% extends "base.html" %}
{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: auto;">
        <div class="url-container" style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: auto;">
                {% for url in urls.items %}           
                <div class="url-box">
                        <a href= "{{ url.long }}" target = "_blank"><img alt="Logo" src="https://www.google.com/s2/favicons?domain={{ url.long }}&amp;sz=256" style="width: 100px; height: 100px;"></a>
                        <a href= "{{ url.long }}"><h3>mvn.my.id/{{url.short}}</h3></a>
                </div>
                {% endfor %}
        </div>
        <div class="pagination-box">
                {% for page_number in urls.iter_pages() %}
                    {% if page_number == urls.page %}
                        <a href="{{ url_for('display_all', page = page_number) }}" style = "color: red;" class="number"><h3>{{ page_number }}</h3></a>
                    {% else %}
                        <a href="{{ url_for('display_all', page = page_number) }}" style = "color: black" class = "number"><h3>{{ page_number }}</h3></a>
                    {% endif %}
                {% endfor %}
        </div>
</div>
{% endblock %}