{% extends "base.html" %}
{% block content %}
<div class="url-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: auto;">
        {% for url in urls %}           
        <div class="url-box" style="display: flex; flex-direction: row; align-items: center;">
		<a href= "{{ url.long }}" target = "_blank" style="padding: 20px;"><img alt="Logo" src="https://www.google.com/s2/favicons?domain={{ url.long }}&amp;sz=256" style="width: 100px; height: 100px;"></a>
                <a href= "{{ url.long }}"><h1>127.0.0.1:5000/{{url.short}}</h1></a>
	</div>
        {% endfor %}
</div>
{% endblock %}