{% extends 'base.html' %}

{% block content %}
<div class="login">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<div class="box">
			<h4 class="mb-4 pb-3">Log In</h4>

			<div class="form-group">
				{% if form.username.errors%}
				{{ form.username(autocomplete="off", placeholder = "Username", class = "form-style") }}
				<div class="">
					{% for error in form.username.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.username(autocomplete="off", placeholder = "Username", class = "form-style") }}
				{% endif %}
				<i class="input-icon bi bi-person"></i>
			</div>
			<br>
			<div class="form-group">
				{% if form.password.errors%}
				{{ form.password(autocomplete="off", placeholder = "Password", class = "form-style") }}
				<div class="">
					{% for error in form.password.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.password(autocomplete="off", placeholder = "Password", class = "form-style") }}
				{% endif %}
				<i class="input-icon bi bi-key"></i>
			</div>
			<br>
			{{ form.submit(class="submit-btn") }}
		</div>
		


	</form>
</div>
{% endblock content %}