{% extends 'base.html' %}

{% block content %}
<div class="signup">
	<form method="POST" action="" autocomplete="off">
		{{ form.hidden_tag() }}
		<div class="box">
			<h4 class="mb-4 pb-3">Sign up</h4>
			
			<div class="form-group">
				{% if form.username.errors%}
				{{ form.username(placeholder = "Username", class = "form-style") }}
				<div class="">
					{% for error in form.username.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.username(placeholder = "Username", class = "form-style") }}
				{% endif %}
				<i class="input-icon bi bi-person"></i>
			</div>
			<br>
			<div class="form-group">
				{% if form.password.errors%}
				{{ form.password(placeholder = "Password", class = "form-style") }}
				<div class="">
					{% for error in form.password.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.password(placeholder = "Password", class = "form-style") }}
				{% endif %}
				<i class="input-icon bi bi-key"></i>
			</div>
			<br>
			<div class="form-group">
				{% if form.confirm_password.errors%}
				{{ form.confirm_password(placeholder = "Confirm Password", class = "form-style") }}
				<div class="">
					{% for error in form.password.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.confirm_password(placeholder = "Confirm Password", class = "form-style") }}
				{% endif %}
				<i class="input-icon bi bi-check2"></i>
			</div>
			<br>
			{{ form.submit(class="submit-btn") }}
		</div>


	</form>
</div>
{% endblock content %}